body {
    padding: 20px;
}

th {
    text-align: center;
}

tr {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

tr:hover {
    background-color: #eee;
}

#table_task_list {

}

.task_item {
    display: inline-block;

}

.task_label {
    line-height: 20px;
}